<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Funky lighting</title>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
<span id="status">Not connected</span><br>
<button id="krButton">Knight rider</button>
<button id="pulseButton">Pulse</button>
<button id="rbButton">Red Blue</button>
</body>
<script src="js/script.js"></script>
</html>