<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<title>Funky lighting</title>
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="/css/style.css"/>
	<script src="js/lib/recorder.js"></script>
</head>
<body>
<div class="container">
	<h2 class="title">Halloween lights</h2>
	<hr>
	<div class="status"><span>Connections status: </span><span id="status">Not connected</span><br></div>
	<hr>
	<div class="ui effects">
		<button class="button" data-effect="knightrider">Knight rider</button>
		<button class="button" data-effect="chase">Pulse</button>
		<button class="button" data-effect="redblue">Red Blue</button>
		<button class="button" data-effect="flame">Flame</button>
		<button class="button" data-effect="spectrum">Spectrum</button>
		<button class="button" data-effect="random">Random</button>
	</div>
	<hr>
	<div class="music ui">
		<button class="button music-button">Play music</button>
	</div>
	<hr>
	<div class="speak ui">
		{{#each speeches}}
		<button class="button" data-speech="{{data}}">{{label}}</button>
		{{/each}}
	</div>
</div>
</body>
<script src="js/script.js"></script>
</html>